<span id="about" class="page"></span>
<div class="container">
  <div class="row">
    
    <div class="text-center offset-md-1 col-md-10">
      
      <p><strong>Hopefully you've guessed by now</strong> but my name is Rayhaan Quazi and 
        I am a Graduate Software Engineer. I have a passion for all things
        creative and enjoy creating websites in my free time using a variety
        of languages and frameworks. Check out some of the links
        below to see what I’ve been up to lately.</p>
    </div>
  </div>
</div>