<div id="contact" class="container page">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center contact-header display-4">- Contact -</h1>

      <div class="row text-center social">
        <div class="col-lg-6"><a target='_blank' href="https://github.com/rayhaanq"><i class="fa fa-github" aria-hidden="true"></i> Github</a></div>
        <div class="col-lg-6"><a target='_blank' href="https://www.freecodecamp.com/rayhaanq"><i class="fa fa-free-code-camp" aria-hidden="true"></i>
          FreeCodeCamp</a></div>
      </div>

      <form id="contactForm">

        <div class="form-group">
          <div class="row">
              <label for="name" class="offset-lg-2 col-lg-2 col-form-label">Name: </label>
            
            <div class="col-lg-6">
              <input type="text" class="form-control" id="name"></input>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="offset-lg-2 col-lg-2">
              <label for="email">Email: </label>
            </div>
            <div class="col-lg-6">
              <input type="email" class="form-control" id="email"></input>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="offset-lg-2 col-lg-2">
              <label for="message">Message: </label>
            </div>
            <div class="col-lg-6">
              <textarea class="form-control" rows="6" id="message"></textarea>
            </div>
          </div>
        </div>

      </form>



    </div>
  </div>


</div>