<!-- <div class="container-fluid">
  
  <div id="mainName" class="row">
    
    <div class="col-md-12">
      
      <h1 class="display-1 text-center"><span id="r">R</span>ayhaan <span id="q">Q</span>uazi</h1>
    </div>
  </div>
  
</div> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
<h1 class="display-3 text-center"><strong>&lt;R</strong>ayhaan <strong>Q</strong>uazi<strong>&sol;&gt;</strong></h1>

<div class="text-center offset-md-3 col-md-6">
      
      <p><strong>Hopefully you've guessed by now</strong> but my name is Rayhaan Quazi and 
        I am a Graduate Software Engineer. I have a passion for all things
        creative and enjoy creating websites in my free time using a variety
        of languages and frameworks. Check out some of the links
        below to see what I’ve been up to lately.</p>
    </div>
  </div>
</div>