<span id="portfolio" class="page"></span>
<div class="container text-center">
  <div id="portfolio" class="row">
    <div class="col-md-12">
      <h1 class="display-4">- Portfolio -</h1>

    </div>

    <div id="portImageList" class="row">
      <div class="col-lg-4 col-md-6 portImage">
        <img class="img-fluid" src="https://placehold.it/340x300">
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <img class="img-fluid" src="https://placehold.it/340x300">
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <img class="img-fluid" src="https://placehold.it/340x300">
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <img class="img-fluid" src="https://placehold.it/340x300">
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <img class="img-fluid" src="https://placehold.it/340x300">
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <img class="img-fluid" src="https://placehold.it/340x300">
      </div>
    </div>

  </div>
</div>