<span id="portfolio" class="page"></span>
<div class="container text-center">
  <div id="portfolio" class="row">
    <div class="col-md-12">
      <h1 class="display-4">- Portfolio -</h1>

    </div>

    <div id="portImageList" class="row">
      <div class="col-lg-4 col-md-6 portImage">
        <a href="http://www.waymot.com" target="_blank"><img class="img-fluid" src="assets/img/waymot.jpg"></a>
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <a href="https://codepen.io/rayhaanq/full/ZyorYo/" target="_blank"><img class="img-fluid" src="assets/img/quote.jpg"></a>
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <a href="https://codepen.io/rayhaanq/full/qjKJaL/" target="_blank"><img class="img-fluid" src="assets/img/wiki.jpg"></a>
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <a href="https://aqueous-island-58494.herokuapp.com/#/" target="_blank"><img class="img-fluid" src="assets/img/weather.jpg"></a>
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <a href="https://murmuring-garden-27050.herokuapp.com/" target="_blank"><img class="img-fluid" src="assets/img/devmatch.jpg"></a>
      </div>
      <div class="col-lg-4 col-md-6 portImage">
        <a href="https://codepen.io/rayhaanq/full/BZVWBM/" target="_blank"><img class="img-fluid" src="assets/img/local.jpg"></a>
      </div>
    </div>

  </div>
</div>