.form-control{
  border-radius: 0;
  font-family: $font-family-base;
  padding:$spacer $spacer;
  font-size:$font-size-base*1.3;

  &:focus{
     border-color: lighten($trim-color, 35%);
  }
}

.form-group{
  margin-bottom:$spacer*2;
}

.social{
  margin-bottom: $spacer*3;
}