@import "variables";
@import "bootstrap/scss/bootstrap";
@import
  "navbar"
;


.jumbotron h1{
  padding:($spacer * 16) 0 ($spacer * 12) 0;
  color:$font-color;


  
  #r, #q{
  color:$secondary-font-color;
  position:relative;
}
}