@import "variables";
@import "bootstrap/scss/bootstrap";
@import 
"navbar",
"jumbotron",
"contact",
"footer"
;

body {
  background-color:$primary-color;
  background-image: url("img/shattered.jpg");
  //font-family: 'Saira Semi Condensed', sans-serif;
font-family: 'Righteous', cursive;
//font-family: 'Dosis', sans-serif;
//font-family: 'Slabo 27px', serif;
  font-size:$font-size-base*1.3;
  color:$font-color;
  p{
    font-family: $font-family-base;
    //font-family: 'Saira Semi Condensed', sans-serif;
    //font-family: 'Dosis', sans-serif;

  }
  
}

i{
  color:$secondary-font-color;
}
h1{
  color:$secondary-font-color;
}

a{
  color:$font-color;
  
  &:hover, &:focus{
  color:$font-color;
  text-decoration: none;  
  }
}

strong{
  color:$secondary-font-color;
}

.display-3 {
  font-size: 3.5rem;
}

.display-4{
  font-size: 2.5rem;
  margin-bottom: $spacer*3;
}

.about-page{
  padding-top:$spacer*0.5;
  margin-top:-$spacer*2;
  margin-bottom:$spacer*6;
  display: block;
}


.page{
  padding-top:$spacer*2;
  margin-top:-$spacer*2;
  margin-bottom:$spacer*6;
  display: block;
}

.portImage{
  margin-top:$spacer;
  margin-bottom:$spacer;
}

