<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

  {% include nav.html %}
  {% include jumbotron.html %}
  {% include about.html %}
  {% include portfolio.html %}
  {% include contact.html %}
  {% include footer.html %}




  <script src="/assets/zenscroll-min.js"></script>
  <script src="/assets/jquery-3.2.1.min.js"></script>
  <script src="/assets/tether.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/form.js"></script>

</body>

</html>